$white: #ffffff;

$margins: (
    "quarter": 2.5px,
    "half": 5px,
    "main": 10px,
    "double": 20px,
);

$paddings: (
    "quarter": 2.5px,
    "half": 5px,
    "main": 10px,
    "double": 20px,
);

$widths: (
    "quarter": 25%,
    "half": 50%,
    "fill": 100%,
);

$text-aligns: (
    "left",
    "right",
    "center",
);